nav {
  position: sticky;
  top:0;
}
.topNavBar {
  list-style-type: none;
  margin: 0;
  padding: 1% 2% 1% 2%;
  font-size: 14pt;
  background-color: lightblue;
}
.topNavBar li {
  display: inline;
  padding: 1% 2% 1% 2%;
}
 .topNavBar li:hover{
    background-color:goldenrod;
 }
 #banner {
  display: flex;
  flex-direction:column;
   background-image: url(dog-3564569_1920.jpg);
   background-size: 70%;
   background-color: lightblue;
   color:lightblue;
   background-position: center;
   background-repeat: no-repeat;
   padding: 0% 0 40% 0;
 }
 #banner h1{
   color: rgb(0, 138, 184);
   z-index: 1;
   align-self: flex-start;
   justify-self:;
 }

 h2 {
   font-size: 18px;
 }

.card{
  margin: 20px;
  box-shadow: 3px 3px 6px 2px lightblue;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
 .card div {
  margin-right: 20px;
}
.card img{
  margin: 10px;
  width: 60%;
  flex-shrink: 0;
}

 