nav {
  position: sticky;
  top:0;
}
.topNavBar {
  list-style-type: none;
  margin: 0;
  padding: 1% 2% 1% 2%;
  font-size: 18pt;
  background-color: lightblue;
}
.topNavBar li {
  display: inline;
  padding: 1% 2% 1% 2%;
}
 .topNavBar li:hover{
    background-color:goldenrod;
 }

 h2 {
   font-size: 18px;
 }

 .card div {
  text-align:left;
  padding-left: 20px;
  width: 60%;
  border-style: solid;
  border-color: lightblue;
  border-width: 5px;
  border-radius: 10%;
  
}

@media (min-width: 900px) {
  .card {
    display: grid;
    grid-template-columns: 40% auto;
    margin: 20px;
  }

  .card div{
    border-style: none;
    box-shadow: 3px 3px 6px 2px lightblue;
  }
  .card h2{
    color:deepskyblue;
  }

  .card img{
    width: 80%;
    
  }
}
